/* 全局隐藏滚动条 */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Copy icon */
.copy-icon {
  cursor: pointer;
}

/* Common dialog */
.van-dialog.common-dialog {
	overflow: visible;
	--van-border-width: 0;
	--van-dialog-width: 21.25rem;
	--van-dialog-message-max-height: 100%;
	--van-dialog-header-padding-top: 6.25rem;
	--van-button-default-color: var(--ep-color-text-default);
	--van-button-default-font-size: var(--ep-font-size-m, 0.875rem);
	--van-dialog-radius: var(--ep-border-radius-surface-small, 0.75rem);
	--van-dialog-confirm-button-text-color: var(--ep-color-text-default);
  --van-dialog-background: var(--ep-color-background-fill-surface-raised-L1);
	--van-button-default-background:  var(--ep-color-background-fill-surface-raised-L2);

	.van-dialog__header {
		position: relative;
		border-radius: var(--ep-border-radius-surface-small, 0.75rem) var(--ep-border-radius-surface-small, 0.75rem) 0 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(96.39deg, #74DBFE 0.75%, #8BB7FF 47.51%, #CB89FE 99.19%);

		&::after {
			content: '';
			position: absolute;
			background: url('@/assets/images/bg-dialog-header.png') no-repeat center center / 100% 100%;
			top: -4.375rem;
			left: 0;
			width: 100%;
			aspect-ratio: 2/1;
		}
	}

	.van-dialog__message {
		padding: .875rem 1.875rem;
	}

	.van-dialog__footer {
		gap: .625rem;
		padding: 0 .875rem .875rem;
		font-weight: var(--ep-font-weight-bold, 700);

		button {
			border-radius: var(--ep-border-radius-m, 0.375rem);

			&.van-dialog__confirm {
				background: var(--ep-dynamic-primary);
			}
		}
	}
}

.page-safe-area {
	padding-top: env(safe-area-inset-top);
}

.van-toast--loading {
	--van-toast-background: transparent
}
